*{
	padding: 0px;
	margin: 0px;

	} 

body{
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	line-height: 24px;
	height: 1200px;
	background: rgb(224, 241, 255);

}
h1, h2, h3, h4, h5,h6 {
		font-family: 'Poppins', sans-serif;

}


.flag-section{
	width: 100%;
}


.green{
	width: 600px;
	height:300px ;
	background: green;
	margin: 20px auto;
	position: relative;

}

.red{ 
width: 200px; 
height: 200px;
background: red;
border-radius: 100%;
position:absolute ;
top: 17%;
left: 35%;
z-index: 1;

}



.fb-share {
	width: 200px;
	position: fixed;
	right: -134px;
	bottom: 510px;
	z-index: 1;
	

}
.fb-share:hover {
	right: 2px;
	transition: 0.8s;
	cursor: pointer;
	
}

.twitter {
	width: 200px;
	position: fixed;
	right: -134px;
	bottom: 460px;
	z-index: 2;
}
.twitter:hover {
	right: 2px;
	transition: 1s;
	cursor: pointer;
}

.vk{
	width: 200px;
	position: fixed;
	right: -133px;
	bottom: 410px;
	z-index: 3;

}
.vk:hover {
	right: 2px;
	transition: 0.8s; 
	cursor: pointer;
}

.social-icons{
	width: 100%;
	display: block;
	text-align: center;
	padding: 40px 0px;
}

.social-icons li{
	list-style: none;
	display: inline-block;
}
.social-icons li a{
	display: block;
	width: 80px;
	height: 80px;
	background-color: black;
	line-height: 80px;
	border-radius: 50%;
	font-size: 25px;
	margin: 0px 15px;
	color: white;
	border: 2px solid;

}

.social-icons li a:hover{
	background: transparent;
	color: black;
	transition: 0.8s;
	cursor: pointer;
	fo
}
.social-icons li a:focus {
	background: transparent;
	color: black;
	transition: 0.8s;
	cursor: pointer;
	fo
}

.flag-h1{
	width: 100%;
	text-align: center;
	margin: 10px;
	padding: 10px;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 25px;
	font-weight: bold;

}

.flg-p{
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	font-size: 17.5px;

}